:root {
    --red: #c56843;
    --white-text: #e0d4b4;
    --cream-1: #e0d994;
    --orange: #dda361;
    --dark-blue: #363488;

    --green: #37915c;
    --dark-green: #1e6132;
    --darker-green: #144422;
    --cream: #e7e0b6;

    --grid-container: #918855;
    --grid-lines: #c4be88;
    --square: #f5e7c5;
}

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cream);
}

.header {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--green);
    gap: 20px;
    /* box-shadow: var(--dark-green) 0px 5px 15px; */
}

.header button {
    border-style: none;
    font-size: 24px;
    border-radius: 40px;
    padding: 20px 40px;
    cursor: pointer;
    background-color: var(--cream);
    color: var(--green)
}

.header button:hover {
    background-color: var(--dark-green);
    color: var(--white-text);
}

.grid-container {
    width: 680px;
    height: 680px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--grid-container);
    background-color: var(--grid-lines);
    margin: 20px;
}

.row {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: center;
}
.square {
    flex: 1;
    background-color: var(--square);
    margin: 0.5px;
    border-radius: 4px;
}

.square:hover {
    background-color: rgb(170, 165, 245);
}

.blackInk {
    transition: ease 0.2s;
    background-color: var(--dark-blue);
}

.slider {
    appearance: none;
    background-color: var(--cream);
    width: 100%;
    height: 25px;
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    outline: none;
    background-color: var(--dark-green);
}

.slider::-webkit-slider-thumb:hover {
    background-color: var(--darker-green);
}

.slider-number {
    color: var(--white-text);
    font-size: 20px;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    background-color: var(--green);
    align-self: stretch;
    color: var(--cream);
    /* box-shadow: var(--dark-green) 0px -5px 15px; */
}
