body {
    display: flex;
    height: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
}
.square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 1px;
}

.square:hover {
    background-color: rgb(197, 197, 197);
}