*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(224, 224, 224);
}

.header {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #999;
    gap: 20px;
}

.header button {
    border-style: none;
    font-size: 24px;
    border-radius: 40px;
    padding: 20px 40px;
    cursor: pointer;
}

.header button:hover {
    background-color: rgb(197, 197, 197);
}

.grid-container {
    width: 680px;
    height: 680px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: rgb(161, 161, 161);
    margin: 20px;
}

.row {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: center;
}
.square {
    flex: 1;
    background-color: rgb(235, 235, 235);
    margin: 0.5px;
}

.square:hover {
    background-color: rgb(197, 197, 197);
}

.blackInk {
    transition: ease 0.2s;
    background-color: rgb(97, 97, 97);
}

.slider {
    appearance: none;
    background-color: rgb(212, 212, 212);
    width: 100%;
    height: 25px;
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    width: 25px;
    height: 25px;
    outline: none;
    background-color: rgb(102, 102, 102);
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    background-color: #999;
    align-self: stretch;
}
